* {
    font-family: 'Roboto Mono', monospace;
}

/* base; */

body {
    background: #0e0e0e;
    padding: 0;
    margin: 0;
    min-width: 36em;
}

header {
    position: static;
    width: 60%;
    padding: 1% 20%;
    font-size: 7em;
    text-align: center;
    color: #eee;
}

main {
    position: static;
    width: 100%;
}

section {
    display: block;
    clear: both;
    width: 60%;
    margin: 0 20%;
    margin-top: 5%;
    padding: 0;
    background: #222;
    color: #eee;
}

.label,
.item {
    display: block;
    clear: both;
    padding: 2% 4%;
    width: 92%;
    font-size: 2em;
}

.label {
    color: #48f;
}

.label::before {
    content: "$ ls -al ";
    color: #999;
}

.list {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.list a {
    color: #eee;
    text-decoration: none;
}

.item img {
    display: block;
    float: left;
    height: 1.5em;
    width: auto;
    object-fit: contain;
    filter: invert(100%);
}

.title {
    display: inline-block;
    padding: 0.1em;
    padding-left: 0.5em;
}

.title::before {
    white-space: pre;
    color: #eee;
}

section:last-child {
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

section:last-child .label,
section:last-child .item {
    margin: 0 20%;
    width: 56%;
    padding: 1% 2%;
}

/* hover; */

.item:hover,
section:hover .label
{
    background: #0e0e0e;
    color: #4f4;
}

section:hover .label::before {
    content: "$ cd ";
    color: #eee;
}

.item:hover .title {
    margin-left: -1.2em;
}

.item:hover .title::before {
    content: "$ ";
}

.item:hover img {
    visibility: hidden;
}

/* animation;blink; */

@keyframes blink {
    100% {
        opacity: 0;
    }
}

.label:hover::after,
.item:hover .title::after {
    content: "_";
    color: #eee;
    font-weight: bold;
    animation-name: blink;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* animation;lgbt; */

@keyframes lgbt {
    0% {
        background-color: #ff0018;
    }

    20% {
        background-color: #ffa52c;
    }

    40% {
        background-color: #ffff41;
    }

    60% {
        background-color: #008018;
    }

    80% {
        background-color: #0000f9;
    }

    100% {
        background-color: #86007d;
        color: #0e0e0e;
    }
}

header:hover {
    animation-name: lgbt;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 27s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
