@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap&subset=cyrillic,cyrillic-ext');

* {
    font-family: 'Roboto Mono', monospace;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

#background {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #111;
    overflow-x: hidden;
    overflow-y: auto;
}

#background div {
    display: block;
    float: left;
}

#logo {
    position: static;
    height: 50%;
    padding: 1% 25%;
    text-align: center;
}

#logo img {
    display: inline-block;
    width: 100%;
}

#content {
    position: static;
    width: 100%;
    text-align: center;
}

.category,
.label,
.separator,
.content {
    width: 100%;
}

.category {
    display: block;
    clear: both;
    width: 50%;
    padding: 0% 25%;
    margin-top: 5%;
    text-align: center;
}

.label {
    display: inline-block;
    padding: 1%;
    width: 98%;
    background: #fff;
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.5);
    color: #111;
    text-align: left;
    font-size: 2em;
}

.label::before {
    content: "> ";
}

.category:hover .label::after {
    background-color: #111;
    margin-left: 0.25pc;
    content: " ";
    white-space: pre;
}

.content {
    display: inline-block;
    margin-top: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.5);
    text-align: left;
}

.button {
    display: inline-block;
    clear: both;
    width: 96%;
    padding: 1%;
    margin: 1%;
    text-decoration: none;
    font-size: 2em;
    color: #111;
}

.button img {
    display: block;
    float: left;
    padding: 1%;
    width: 2pc;
}

.title {
    display: inline-block;
    width: auto;
    padding: 1%;
}

.button:hover {
    background-color: #111;
}

.button:hover .title {
    color: #eee;
}

.button:hover .title::before {
    content: "> ./";
    white-space: pre;
}

.button:hover .title::after {
    content: " ";
    white-space: pre;
    background-color: #eee;
    margin-left: 0.25pc;
}

.button:hover img {
    display: none;
}

#etc {
    width: 100%;
    padding: 1% 0;
    background-color: #181818;
}

#etc .label {
    background: inherit;
    padding: 1% 25%;
    width: 50%;
    color: #eee;
    box-shadow: none;
}

#etc .content {
    background: inherit;
    padding: 1% 25%;
    width: 50%;
    color: #eee;
    box-shadow: none;
}

#etc.category:hover .label::after {
    background-color: #eee;
}

#etc .button {
    filter: invert(100%);
}

@media all and (max-width: 1360px) {

    .category,
    #etc .label,
    #etc .content {
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media all and (orientation: portrait), all and (max-width: 850px) {

    #logo {
        width: 90%;
        height: auto;
        padding: 5%;
        text-align: center;
    }

    #content {
        padding: 0;
    }

    .category {
        width: 100%;
        padding: 0;
        margin-top: 5%;
        text-align: center;
    }

    #etc .label,
    #etc .content {
        width: 100%;
        padding: 0 1%;
    }

}
