@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap&subset=cyrillic,cyrillic-ext');

* {
    font-family: 'Roboto Mono', monospace;
}

body {
    background: #111;
    overflow-x: auto;
    overflow-y: auto;
    padding: 0px;
    margin: 0px;
}

body div {
    display: block;
    float: left;
}

#logo {
    position: static;
    width: 70%;
    padding: 1% 15%;
    font-size: 10em;
    text-align: center;
    color: #fff;
}


#content {
    position: static;
    width: 100%;
    text-align: center;
}

.category,
.label,
.separator,
.content {
    width: 100%;
}

.category {
    display: block;
    clear: both;
    width: 50%;
    padding: 0% 25%;
    margin-top: 5%;
    font-size: 2em;
}

.label {
    display: inline-block;
    padding: 1%;
    width: 98%;
    background: #fff;
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.5);
    color: #111;
    text-align: left;
}

.label::before {
    content: "$ ";
}

.category:hover .label::before {
    content: "$ cd ./";
}

.category:hover .label::after {
    background-color: #111;
    margin-left: 0.25em;
    content: " ";
    white-space: pre;
}

.content {
    display: inline-block;
    margin-top: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.5);
    text-align: left;
}

.button {
    display: inline-block;
    clear: both;
    width: 96%;
    padding: 1%;
    margin: 1%;
    text-decoration: none;
    color: #111;
}

.button img {
    display: block;
    float: left;
    height: 1.5em;
    width: auto;
    object-fit: contain;
}

.title {
    display: inline-block;
    padding: 0.1em;
    padding-left: 0.3em;
}

.button:hover {
    background-color: #111;
}

.button:hover .title {
    color: #fff;
}

.button:hover .title::before {
    content: "> ./";
    white-space: pre;
}

.button:hover .title::after {
    content: " ";
    white-space: pre;
    background-color: #fff;
    margin-left: 0.25em;
}

.button:hover img {
    display: none;
}

#etc {
    width: 100%;
    padding: 1% 0;
    background-color: #181818;
}

#etc .label {
    background: inherit;
    padding: 1% 25%;
    width: 50%;
    color: #fff;
    box-shadow: none;
}

#etc .content {
    background: inherit;
    padding: 1% 25%;
    width: 50%;
    color: #fff;
    box-shadow: none;
}

#etc.category:hover .label::after {
    background-color: #fff;
}

#etc .button {
    filter: invert(100%);
}

@media all and (max-width: 1400px) {

    .category,
    #etc .label,
    #etc .content {
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media all and (orientation: portrait), all and (max-width: 850px) {

    #logo {
        padding: 5%;
        width: 90%;
    }

    #content {
        padding: 0;
    }

    .category {
        width: 100%;
        padding: 0;
        margin-top: 5%;
    }

    #etc .label,
    #etc .content {
        width: 100%;
        padding: 0 1%;
    }

}

@media all and (min-width: 1500px) {

    body {
        filter: invert(100%);
        background: #fff;
    }

    #logo {
        position: absolute;
        left: 0px;
        top: 0px;
        padding: 1%;
        float: left;
        width: 30%;
        font-size: 5em;
    }

    #content {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        text-align: center;
    }

    .category {
        display: block;
        clear: both;
        width: 60%;
        padding: 0% 5%;
        padding-left: 35%;
        margin-top: 5%;
    }

    #etc .label {
        padding-left: 35%;
        width: 60%;
    }

    #etc .content {
        padding-left: 35%;
        width: 60%;
    }
}
