@keyframes blink {

    100% {
        opacity: 0;
    }

}

.label:hover::after,
.item:hover .title::after {
    animation-name: blink;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
