body {
    background: #0e0e0e;
    padding: 0px;
    margin: 0px;
}

#logo {
    position: static;
    width: 60%;
    padding: 1% 20%;
    font-size: 7em;
    text-align: center;
    color: #eee;
}

#content {
    position: static;
    width: 100%;
}

.category {
    display: block;
    clear: both;
    width: 60%;
    margin: 0px 20%;
    margin-top: 5%;
    padding: 0px;
    font-size: 2em;
    background: #222;
    color: #eee;
}

.label,
.item {
    display: block;
    clear: both;
    padding: 2% 4%;
    width: 92%;
}

.label {
    color: #48f;
}

.label::before {
    content: "$ ls -al ";
    color: #999;
}

.list {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.list a {
    color: #eee;
    text-decoration: none;
}

.item img {
    display: block;
    float: left;
    height: 1.5em;
    width: auto;
    object-fit: contain;
    filter: invert(100%);
}

.title {
    display: inline-block;
    padding: 0.1em;
    padding-left: 0.5em;
}

.title::before {
    white-space: pre;
    color: #eee;
}

#etc {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
