body {
    background: #0e0e0e;
    padding: 0px;
    margin: 0px;
}

a {
    color: #eee;
    text-decoration: none;
}

#logo {
    position: static;
    width: 60%;
    padding: 1% 20%;
    font-size: 7em;
    text-align: center;
    color: #eee;
}

#content {
    position: static;
    width: 100%;
}

.category {
    display: block;
    clear: both;
    width: 60%;
    margin: 0px 20%;
    margin-top: 5%;
    padding: 0px;
    font-size: 2em;
    background: #222;
    color: #eee;
}

.label,
.item {
    display: block;
    clear: both;
    padding: 2% 4%;
    width: 92%;
}

.label {
    color: #48f;
}

.label::before {
    content: "$ ls -al ";
    color: #999;
}

.category:hover .label,
.category .item:hover {
    background: #0e0e0e;
}

.category:hover .label::before {
    content: "$ cd ";
    color: #eee;
}

.list {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.item img {
    filter: invert(100%);
}

.item:hover {
    background-color: #0e0e0e;
}

.category:hover .label,
.category .item:hover .title {
    color: #4f4;
}

.title::before {
    white-space: pre;
    color: #eee;
}

.category .item:hover .title {
    margin-left: -1.2em;
}

.item:hover .title::before {
    content: "$ ";
}

.category .label:hover::after,
.item:hover .title::after {
    content: "_";
    color: #eee;
    font-weight: bold;
}

.category .item:hover img {
    visibility: hidden;
}

.item img {
    display: block;
    float: left;
    height: 1.5em;
    width: auto;
    object-fit: contain;
}

.title {
    display: inline-block;
    padding: 0.1em;
    padding-left: 0.5em;
}

#etc.category {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
