body {
    filter: invert(100%);
    background: #eee;
}

.label {
    /* inverted #48f; */
    color: #b70;
}

.category:hover .label,
.item:hover .title {
    /* inverted #4f4; */
    color: #b0b;
}
