#logo,
#content
{
    position: absolute;
    top: 0px;
    left: 0px;
}

#logo {
    width: 30%;
    padding: 5%;
    color: #eee;
}

#content {
    right: 0px;
}

.category,
#etc .label,
#etc .item {
    margin-left: 40%;
    margin-right: 5%;
}

.category {
    width: 50%;
}

#etc .label,
#etc .item {
    padding: 1% 2%;
    width: 46%;
}
