body {
    margin: 0px;
    padding: 0px;
}

#background {
    position: fixed;
    background: #111 url("page_background.jpg");
    background-size: cover;
    left: 0px;
    right: 0px;
    height: 100%;
    width: auto;
    padding: 0%;
    margin: 0px;
}

#background div {
    display: block;
    float: left;
}

#logo {
    position: absolute;
    height: 100%;
    width: 71%;
    left: 0px;
    top: 0px;
    padding: 2% 3%;
    text-align: center;
}

#logo img {
    width: 100%;
    height: auto;
}

#content {
    position: absolute;
    height: 100%;
    width: 23%;
    right: 0px;
    top: 0px;
    text-align: center;
    color: #fff;
    padding: 2% 0%;
}

.button {
    display: block;
    float: left;
    width: 30%;
    padding: 5%;
    background: #eee;
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.5);
    margin-bottom: 10%;
    margin-right: 10%;
}

.button img {
    width: 100%;
}