body {
    background: #090909;
    margin: 0px;
    padding: 0px;
}

#background {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px; 
    overflow-x: hidden; 
    overflow-y: auto;
}

#background div {
    display: block;
    float: left;
}

#logo {
    position: static;
    height: 70%;
    width: 100%;
    padding-top: 1%; 
    padding-bottom: 1%;
    text-align: center;
}

#logo img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%; 
}

#content {
    position: static;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    color: #fff;
}

.button {
    display: inline-block;
    width: 10%;
    padding: 1%;
    background: #eee;
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.5);
    margin: 1%;
}

.button img {
    width: 100%;
}