#background {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url("page_background.jpg");
}

#background #logo {
    position: absolute;
    top: 10%;
    bottom: 50%;
    left: 0px;
    right: 0px;
    text-align: center;
}

#background #logo img {
    width: auto;
    height: 100%;
}

#content {
    position: fixed;
    top: 50%;
    left: 30%;
    right: 30%;
    text-align: center;
    color: #fff;
}